<!--
  https://angular.io/docs/ts/latest/cookbook/i18n.html

  The i18n template translation process has four phases:
  1) Mark static text messages in your component templates for translation.
  2) Angular i18n tool extracts the marked messages into an industry standard translation source file.
  3) Translator edits that file, translating the extracted text messages into the target language, and returns the file to you.
  4) Angular compiler imports the completed translation files, replaces the original messages with translated text,
     and generates a new version of the application in the target language.

  You need to build and deploy a separate version of the application for each supported language.

  The Angular i18n attribute is a marker for translatable content. Place it on every element tag whose fixed text should be translated.
  i18n is not an Angular directive.
  It's a custom attribute, recognized by Angular tools and compilers. After translation, the compiler removes it.
-->
<div class="page i18n">
  <div class="jumbotron">

    <!--
      Add the i18n attribute to the tag to mark it for translation.

      In order to translate it accurately, the translator may need a description of the message, assigned to the i18n attribute.

      In order to deliver a correct translation, the translator may need to know your intent—the true meaning of the text within this particular application context.
      In front of the description, add some contextual meaning to the assigned string,
      separating it from the description with the | character (<meaning>|<description>).

      While all appearances of a message with the same meaning have the same translation,
      a message with a variety of possible meanings could have different translations.
      The Angular extraction tool preserves both the meaning and the description
      in the translation source file to facilitiate contextually-specific translations.

    -->
    <h1 class="page-header" i18n="Page Header|Top page header for i18n example">Internationalization</h1>

  </div>
</div>