<div class="page lifecycle">
  <div class="jumbotron">

    <input class="form-control" [(ngModel)]="model" />
    <app-lifecycle-view-child-example [value]="model">
      <app-lifecycle-content-child-example></app-lifecycle-content-child-example>
    </app-lifecycle-view-child-example>

    <div class="console-colors">
      <p>
        <strong [style.color]="consoleColors.constructor">constructor</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngOnChanges">onChanges</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngOnInit">onInit</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngDoCheck">doCheck</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngAfterContentInit">afterContentInit</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngAfterContentChecked">afterContentChecked</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngAfterViewInit">afterViewInit</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngAfterViewChecked">afterViewChecked</strong>
      </p>
      <p>
        <strong [style.color]="consoleColors.ngOnDestroy">onDestroy</strong>
      </p>
    </div>

    <div class="child-label">Parent</div>
  </div>

</div>