<div class="page directives">

  <div class="page-header">
    <h1 [appHighlight]="'grey'">{{text}}</h1>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="directive-demo col-md-6">
        <h3>Attribute directive demo</h3>

        <!--
          The radio button click handlers in the template set a color property and the code is binding that color to the directive.
          However, you never defined a color property for the host DirectivesComponent.

          Browser debugging reveals that Angular dynamically added a color property to the runtime instance of the AppComponent.
          This is convenient behavior but it is also implicit behavior that could be confusing.
          For clarity, consider adding the color property to the DirectivesComponent.
        -->
        <div style="height: 34px">
          <label>
            <input type="radio" name="colors" (click)="color='lightgreen'">
            Green
          </label>
          <label>
            <input type="radio" name="colors" (click)="color='yellow'">
            Yellow
          </label>
          <label>
            <input type="radio" name="colors" (click)="color='cyan'">
            Cyan
          </label>
        </div>

        <p class="text-center" appHighlight [defaultColor]="color">Another text</p>

        <iframe class="code-highlight" src="//pastebin.com/embed_iframe/XSz26YMr" style="border:none;width:100%"></iframe>

      </div>

      <div class="directive-demo col-md-6">
        <h3>Structural directive demo</h3>

        <button
          class="btn btn-default"
          (click)="condition = !condition"
          [style.background] = "condition ? 'orange': 'lightgreen'"
        >
          Set 'condition' to {{condition ? 'False': 'True'}}
        </button>

        <!--
          The asterisk is "syntactic sugar".
          It simplifies appUnless for both the writer and the reader.
          Under the hood, Angular replaces the asterisk version with a more verbose <template> form.

          So instead of <p *appUnless="condition">...</p> we can use the next form:

            <template [appUnless]="condition">
              <p>...</p>
            </template>

          * moves the paragraph and its contents inside a <template> tag.
          It moves the directive up to the <template> tag where it becomes a property binding, surrounded in square brackets.
          The boolean value of the host component's condition property determines whether the template's content is displayed or not.

          There are 2 steps of structural directive expansion:
          1) transport the directive (without the * prefix) and its contents into an expression assigned to a template directive.
            <p template="appUnless:condition">...</p>
          2) unfold the HTML into a <template> tag and [appUnless] property binding:
            <template [appUnless]="condition">
              <p>...</p>
            </template>

        -->

        <p class="text-center" *appUnless="condition">
          condition is "false" and appUnless is true.
        </p>

        <p class="text-center" *appUnless="!condition">
          condition is "true" and appUnless is false.
        </p>

        <iframe class="code-highlight" src="//pastebin.com/embed_iframe/7kqk0jdk" style="border:none;width:100%"></iframe>

      </div>
    </div>
  </div>

</div>