$prefix: lifecycle-content-child-example
$borderColor: #28a9a9

.#{$prefix}

  position: absolute
  top:      30%
  left:     12%
  width:    75%
  height:   100px
  margin:   0 auto
  border:   2px solid $borderColor

  .form-group
    width:  15%
    margin: 0 auto