<div class="page http">
  <div *ngFor="let user of githubUsers" class="row">
    <h3 class="col-md-12">{{user.login}}</h3>
    <p class="col-md-12">
      <img class="avatar col-md-6" src="{{user.avatar_url}}" />
      <span class="col-md-6">
        <mark *ngIf="user.site_admin">
          <strong>Admin</strong>
        </mark>
        <span *ngIf="!user.site_admin">User</span>
      </span>
    </p>
  </div>
</div>