<!--
  Almost all HTML syntax is valid template syntax.

  The <script> element is a notable exception; it is forbidden, eliminating the risk of script injection attacks.
  In practice, <script> is simply ignored.

  Detailed info: https://angular.io/docs/ts/latest/guide/template-syntax.html
-->
<div class="page template">

  <div class="page-header">
    <h1>{{text}}</h1>
  </div>

    <!-- Interpolation:start -->
    <div class="template_interpolation row">

      <!-- Expressions:start -->
      <div class="template_interpolation_expressions col-md-6">

        <!--
          Template expressions cannot refer to anything in the global namespace.
          They can’t refer to window or document. They can’t call console.log or Math.max.
          They are restricted to referencing members of the expression context.

          The expression context is typically the component instance, which is the source of binding values.

          <!--
          Angular evaluates all expressions in double curly braces, converts the expression results to strings,
          and links them with neighboring literal strings.
          Finally, it assigns this composite interpolated result to an element or directive property
        -->

        <!--
          When we see title wrapped in double-curly braces, we know that this is the name of a component property.
          Angular replaces that name with the string value of the corresponding component property.
        -->
        <p class="template_interpolation_expressions_property">
          <span>
            <strong>Component property</strong>: {{interpolation.expressions.property}}
          </span>
          <iframe class="code-highlight" src="//pastebin.com/embed_iframe/09hPH57S" style="border:none;width:100%"></iframe>
        </p>

        <!-- More generally, the material between the braces is a template expression that Angular first evaluates and then converts to a string. -->
        <p class="template_interpolation_expressions_expression">
          <span>
            <strong>Evaluated &#123;&nbsp;&#123;&nbsp;1&nbsp;&#43;&nbsp;1&nbsp;&#125;&nbsp;&#125;</strong>: {{1+1}}
          </span>
          <iframe class="code-highlight" src="//pastebin.com/embed_iframe/dAkT5gRu" style="border:none;width:100%"></iframe>
        </p>

        <!-- The expression can invoke methods of the host component -->
        <p class="template_interpolation_expressions_method">
          <span>
            <strong>Method result</strong>: {{interpolation.expressions.method()}}
          </span>
        </p>
        <iframe class="code-highlight" src="//pastebin.com/embed_iframe/SrhdC1qD" style="border:none;width:100%"></iframe>
      </div>
      <!-- Expressions:end -->

      <!-- Bindings:start -->
      <div class="template_interpolation_bindings col-md-6">

        <!-- Property:start -->

          <!--
            People often describe property binding as one-way data binding because it flows a value in one direction,
            from a component’s data property into a target element property.

            We cannot use property binding to pull values out of the target element.
            We can't bind to a property of the target element to read it. We can only set it.
          -->

        <div class="template_interpolation_bindings_property">

            <!-- element property -->
            <div class="template_interpolation_bindings_property_elementProp">
              <p class="row">
                <span class="col-md-6">
                  <strong>Element property</strong>: <img [src] = "interpolation.bindings.property.element" >
                </span>

                  <!--
                    We should omit the brackets when all of the following are true: (like @a in isolated scope in Angular 1.*)

                    * The target property accepts a string value.
                    * The string is a fixed value that we can bake into the template.
                    * This initial value never changes.
                  -->
                <span class="col-md-6">
                  <strong>Element property (omit brackets)</strong>: <img src = "{{interpolation.bindings.property.element}}" >
                </span>
              </p>
              <iframe class="code-highlight" src="//pastebin.com/embed_iframe/Lpar2k6j" style="border:none;width:100%;height:80px;"></iframe>
            </div>

            <!-- component property -->
            <p class="template_interpolation_bindings_property_componentProp">
              <span>
                <strong>Component property</strong>
              </span>
              <iframe class="code-highlight" src="//pastebin.com/embed_iframe/gdz6M7tj" style="border:none;width:100%;height:70px;"></iframe>
            </p>

            <!-- directive property -->
            <p class="template_interpolation_bindings_property_directiveProp">
              <span>
                <strong>Directive property</strong>: <span [ngClass]="{italic: interpolation.bindings.directive}">some text</span>
              </span>
              <iframe class="code-highlight" src="//pastebin.com/embed_iframe/Lpar2k6j" style="border:none;width:100%;height:80px;"></iframe>
            </p>

        </div>
        <!-- Property:end -->

        <!-- Event:start -->
        <div class="template_interpolation_bindings_event">

          <p class="template_interpolation_bindings_event_element">
            <span>
              <strong>Element event</strong>: <button (click) = "interpolation.bindings.event.element()">Click</button>
            </span>
            <iframe src="//pastebin.com/embed_iframe/mnhMrfc8" style="border:none;width:100%;height:60px;"></iframe>
          </p>

          <p class="template_interpolation_bindings_event_component">
            <span>
              <strong>Component event</strong>
              <iframe src="//pastebin.com/embed_iframe/6AivL5MJ" style="border:none;width:100%;height:60px;"></iframe>
            </span>
          </p>

          <p class="template_interpolation_bindings_event_directive">
            <span>
              <strong>Directive event</strong>:
              <iframe src="//pastebin.com/embed_iframe/JuVtxj5g" style="border:none;width:100%;height:60px;"></iframe>
            </span>
          </p>

        </div>
        <!-- Event:end -->

        <!-- Two-way - event + property -->
          <!--
            The same are:
              1) <input [value]="interpolation.bindings.twoWay" (input)="interpolation.bindings.twoWay=$event.target.value" />
              2) <input [ngModel]="interpolation.bindings.twoWay" (ngModelChange)="interpolation.bindings.twoWay=$event.target.value" />
          -->
        <div class="template_interpolation_bindings_twoway">
            <!--
              #varName or ref-varName allows to refer to a template reference variable anywhere in the current template.
              Angular sets the variable's value to the element on which it was defined.
            -->
          <p>
            <strong>Input value</strong>: <input #input [(ngModel)]="interpolation.bindings.twoWay" type="text" /> | <span>{{interpolation.bindings.twoWay}}</span>
          </p>
          <p>
            <strong>Referencing</strong>: <span>{{input.value}}</span>
          </p>
          <iframe src="//pastebin.com/embed_iframe/hLSLuMwK" style="border:none;width:100%;height:100px;"></iframe>
        </div>

        <!-- Attribute -->
        <p class="template_interpolation_bindings_attribute">
          <span>
            <strong>Attribute</strong>: <button [attr.title]="interpolation.bindings.attribute">help</button>
          </span>
          <iframe src="//pastebin.com/embed_iframe/i5ECepSQ" style="border:none;width:100%;height:60px;"></iframe>
        </p>

        <!-- Class property -->
        <p class="template_interpolation_bindings_class">
          <span>
            <strong>CSS class</strong>: <span [class.italic]="interpolation.bindings.class">italic text</span>
          </span>
          <iframe src="//pastebin.com/embed_iframe/xjgBpPgd" style="border:none;width:100%;height:60px;"></iframe>
        </p>

        <!-- Style property -->
        <p class="template_interpolation_bindings_style">
          <span>
            <strong>Style</strong>: <span [style.color]="interpolation.bindings.style">stylized text</span>
          </span>
          <iframe src="//pastebin.com/embed_iframe/9y1PLUXy" style="border:none;width:100%;height:60px;"></iframe>
        </p>

      </div>
      <!-- Bindings:end -->

    </div>
    <!-- Interpolation:end -->
</div>
