<div class="page redux">

  <div class="page-header">
    <h1>{{text}}</h1>
  </div>

  <ul>
    <li routerLink="/redux/ng2-redux">
      <a>Ng2 Redux</a>
    </li>
    <li>
      <a>NgRx</a>
    </li>
  </ul>

</div>