<div class="page forms">

    <div class="page-header">
        <h1>{{text}}</h1>
    </div>

    <div class="forms_template-driven">
        <h2>Template-Driven Forms</h2>

        <!-- State & Validity Tracking Form:start -->
        <div class="jumbotron forms_state-and-validity-tracking">

            <!--
                The NgModel directive doesn't just track state.
                It updates the control with special Angular CSS classes that reflect the state.
                We can leverage those class names to change the appearance of the control and make messages appear or disappear.
                (https://angular.io/docs/ts/latest/guide/forms.html#!#track-change-state-and-validity-with-_ngmodel_-)

                        State                  Class if true        Class if false

                Control has been visited	    ng-touched	        ng-untouched
                Control's value has changed	    ng-dirty	        ng-pristine
                Control's value is valid	    ng-valid	        ng-invalid

            -->

            <h3>State & Validity Tracking</h3>
            <form name="stateAndValidityTrackingForm" (submit)="$event.preventDefault()">
                <div class="form-group">
                    <label for="stateAndValidityTracking">Model</label>

                    <!--

                        [(ng-model)]="model.stateAndValidityTracking"

                            equals to

                        [ngModel]="model.stateAndValidityTracking"
                        (ngModelChange)="model.stateAndValidityTracking = $event"

                    -->

                    <input
                        type="text"
                        class="form-control"
                        id="stateAndValidityTracking"
                        name="stateAndValidityTracking"
                        required
                        [(ngModel)]="model.stateAndValidityTracking"
                        #stateAndValidityTrackingInput
                    />
                </div>
                <p>
                    <span>{{ stateAndValidityTrackingInput.classList }}</span>
                </p>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <!-- State & Validity Tracking Form:end -->

        <!-- Show/Hide Validation Messages Form:start -->
        <div class="jumbotron forms_show-hide-validation-messages">

            <!--
                (https://angular.io/docs/ts/latest/guide/forms.html#!#show-and-hide-validation-error-messages)
            -->

            <h3>Show/Hide Validation Messages</h3>
            <form name="showHideValidationMessagesForm">
                <label for="showHideValidationMessages">Model</label>

                <!--
                    #showHideValidationMessagesInput="ngModel" means:
                        use ngModel directive's exportAs property to link the reference variable to the directive.
                        The ngModel directive's exportAs property is "ngModel".

                    We set a template variable (#showHideValidationMessagesInput) to the value "ngModel" (always ngModel).
                    This gives us a reference to the Angular NgModel directive associated with this control
                    that we can use in the template to check for control states such as valid and dirty.
                -->

                <input type="text"
                       class="form-control"
                       id="showHideValidationMessages"
                       name="showHideValidationMessages"
                       required
                       [(ngModel)]="model.showHideValidationMessages"
                       #showHideValidationMessagesInput="ngModel"
                />
                <div
                    [hidden]="showHideValidationMessagesInput.valid || showHideValidationMessagesInput.pristine"
                    class="alert alert-danger"
                >
                    Model is required
                </div>
                <div class="input-states">
                    <div class="row">
                        <strong class="col-md-6">valid</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.valid}}">
                            {{ showHideValidationMessagesInput.valid }}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">invalid</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.invalid}}">
                            {{ showHideValidationMessagesInput.invalid }}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">dirty</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.dirty}}">
                            {{ showHideValidationMessagesInput.dirty }}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">pristine</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.pristine}}">
                            {{ showHideValidationMessagesInput.pristine }}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">touched</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.touched}}">
                            {{ showHideValidationMessagesInput.touched }}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">untouched</strong>
                        <span class="col-md-6 text-center {{showHideValidationMessagesInput.untouched}}">
                            {{ showHideValidationMessagesInput.untouched }}
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <!-- Show/Hide Validation Messages Form:end -->

        <!-- NgForm API:start -->
        <div class="jumbotron forms_ng-form-api">
            <h3>NgForm API</h3>
            <form
                name="ngFormApiForm"
                novalidate="novalidate"
                #ngFormApiForm="ngForm"
                (submit)="onSubmit($event)"
            >

                <fieldset [disabled]="model.ngFormApi.disabled">
                    <div class="form-group">
                        <label for="ngFormApiName">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="ngFormApiName"
                                name="name"
                                required
                                [(ngModel)]="model.ngFormApi.name"
                                #ngFormApiNameInput
                        />
                    </div>

                    <div class="form-group">
                        <label for="ngFormApiPassword">Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="ngFormApiPassword"
                                name="password"
                                required
                                [(ngModel)]="model.ngFormApi.password"
                        />
                    </div>

                </fieldset>

                <div class="checkbox">
                    <label for="ngFormApiDisable">
                        <input
                            type="checkbox"
                            id="ngFormApiDisable"
                            name="disable"
                            [(ngModel)]="model.ngFormApi.disabled"
                        />
                        Disable
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-default" (click)="ngFormApiNameInput.focus()">Reset</button>

                <div class="form-submit-results">
                    <div class="row">
                        <strong class="col-md-6">valid</strong>
                        <span class="col-md-6 text-center {{ngFormApiForm.valid}}">
                            {{ngFormApiForm.valid}}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">invalid</strong>
                        <span class="col-md-6 text-center {{ngFormApiForm.invalid}}">
                            {{ngFormApiForm.invalid}}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">submitted</strong>
                        <span class="col-md-6 text-center {{ngFormApiForm.submitted}}">
                            {{ngFormApiForm.submitted}}
                        </span>
                    </div>
                    <div class="row">
                        <strong class="col-md-6">errors</strong>
                        <span class="col-md-6">
                            <div>
                                <strong>name</strong>
                                <pre>{{ngFormApiForm.controls.name?.errors | json}}</pre>
                            </div>
                            <div>
                                <strong>password</strong>
                                <pre>{{ngFormApiForm.controls.password?.errors | json}}</pre>
                            </div>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <!-- NgForm API:end -->
    </div>

    <div class="forms_dynamic">
        <h2>Dynamic Forms</h2>

        <!-- Form builder:start -->
        <div class="jumbotron forms_form-builder">
            <h3>Form Builder</h3>
            <div>
                <app-form-builder></app-form-builder>
            </div>
        </div>
        <!-- Form builder:end -->

        <div class="jumbotron forms_custom-form-control">
            <h3>Custom Form Control</h3>

            <div class="form-group">
                <label for="stateAndValidityTracking">Min Range Value</label>
                <input
                    type="text"
                    class="form-control"
                    id="minRangeValue"
                    name="minRangeValue"
                    [(ngModel)]="model.custom.minRange"
                />
            </div>
            <div class="form-group">
                <label for="stateAndValidityTracking">Max Range Value</label>
                <input
                    type="text"
                    class="form-control"
                    id="maxRangeValue"
                    name="maxRangeValue"
                    [(ngModel)]="model.custom.maxRange"
                />
            </div>

            <form name="customForm" #customForm="ngForm">
                <app-counter-input
                    name="counter"
                    [counterRangeMax]="model.custom.maxRange"
                    [counterRangeMin]="model.custom.minRange"
                    [(ngModel)]="model.custom.counter"
                ></app-counter-input>
            </form>
            <pre>{{ customForm.value | json }}</pre>
            <pre>{{ customForm.controls.counter?.errors | json }}</pre>
        </div>

    </div>

</div>