$prefix: forms

$whiteColor: #fff
$greenColor: #42A948
$redColor: #a94442


.#{$prefix}

  // common classes

  .true, .false
    color: $whiteColor

  .true
    background: $greenColor

  .false
    background: $redColor

  // containers

  .forms_state-and-validity-tracking

    .ng-valid[required], .ng-valid.required
      border-left: 5px solid $greenColor

    .ng-invalid:not(form)
      border-left: 5px solid $redColor

  .forms_show-hide-validation-messages

    .input-states
      width: 250px
      margin: 2% 0

  .forms_ng-form-api

    .form-submit-results
      width: 750px
      margin-top: 2%

      .row
        margin-bottom: 1%
