$prefix: form-builder

$whiteColor: #fff
$greenColor: #42A948
$redColor: #a94442
$borderColor: rgba(128, 128, 128, 0.33)

.#{$prefix}

  .form-group
    padding-bottom: 5px
    border-bottom: 1px solid $borderColor

  .validity
    width: 150px
    margin-top: 1%

    .true, .false
      color: $whiteColor

    .true
      background: $greenColor

    .false
      background: $redColor

  .error-message
    width: 500px
    margin-top: 1%