<!--

  <form [formGroup]="registerForm">
    <label>Firstname:</label>
    <input type="text" formControlName="firstname">

    <label>Lastname:</label>
    <input type="text" formControlName="lastname">

    <fieldset formGroupName="address">
      <label>Street:</label>
      <input type="text" formControlName="street">

      <label>Zip:</label>
      <input type="text" formControlName="zip">

      <label>City:</label>
      <input type="text" formControlName="city">
    </fieldset>

    <button type="submit">Submit</button>
  </form>

  * formControl directive doesn’t have to be inside a formGroup
  * ngForm directive contains .form prop with type of FormGroup

    #formTemplateVariable="ngForm" contains [formGroup]="form"

-->

<div class="form-builder">
  <div class="jumbotron">
    <form name="formBuilderForm" novalidate="novalidate" [formGroup]="form">

      <div class="form-group">
        <label>Required field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Required field..."
          required="required"
          [formControl]="form.controls.requiredField"
        />
        <div class="row validity">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.requiredField.valid}}">
            {{form.controls.requiredField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Pattern field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Pattern [A-z]+ field..."
          pattern="[A-z]+"
          [formControl]="form.controls.patternField"
        />
        <div class="row validity">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.patternField.valid}}">
            {{form.controls.patternField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Min/max length field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="2 <= value.length <= 5"
          [formControl]="form.controls.minMaxLengthField"
        />
        <div class="row validity">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.minMaxLengthField.valid}}">
            {{form.controls.minMaxLengthField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Not "test" value field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="No 'test' here..."
          [formControl]="form.controls.customField"
        />
        <div class="row validity">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.customField.valid}}">
            {{form.controls.customField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Not "test" value (async) field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="No 'test' here after 1.5 seconds..."
          [formControl]="form.controls.customAsyncField"
        />
        <div *ngIf="form.controls.customAsyncField.pending">waiting for validation...</div>
        <div class="row validity" *ngIf="!form.controls.customAsyncField.pending">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.customAsyncField.valid}}">
            {{form.controls.customAsyncField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Not "test" value (directive) field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="No 'test' here..."
          [formControl]="form.controls.validatorDirectiveField"
          appValidateIsNotTest
        />
        <div class="row validity">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.validatorDirectiveField.valid}}">
            {{form.controls.validatorDirectiveField.valid}}
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Not "test" value (async directive) field:</label>
        <input
          class="form-control"
          type="text"
          placeholder="No 'test' here..."
          [formControl]="form.controls.validatorDirectiveAsyncField"
          appValidateIsNotTestAsync
        />
        <div *ngIf="form.controls.validatorDirectiveAsyncField.pending">waiting for validation...</div>
        <div class="row validity" *ngIf="!form.controls.validatorDirectiveAsyncField.pending">
          <strong class="col-md-6">valid</strong>
          <span class="col-md-6 text-center {{form.controls.validatorDirectiveAsyncField.valid}}">
            {{form.controls.validatorDirectiveAsyncField.valid}}
          </span>
        </div>
        <div class="row error-message" *ngIf="form.controls.requiredField.invalid">
          <strong class="col-md-2">message</strong>
          <pre class="col-md-10">{{form.controls.validatorDirectiveAsyncField.errors | json}}</pre>
        </div>
        <iframe src="//pastebin.com/embed_iframe/Yy90B3G6" style="border:none;margin-top:2%;width:100%;height:475px;"></iframe>
      </div>

      <div class="row error-message">
        <strong class="col-lg-2">Form errors</strong>
        <pre class="col-md-10">{{ form.errors | json }}</pre>
      </div>

    </form>
  </div>

</div>