<!--
  https://angular.io/docs/ts/latest/guide/pipes.html
  A pipe takes in data as input and transforms it to a desired output.
-->

<div class="page pipes">

  <!-- built-in pipes : start -->
  <div class="built-in jumbotron">

    <h2 class="page-header">Built-In Pipes</h2>

    <!--
      The Date and Currency pipes need the ECMAScript Internationalization API. Safari and other older browsers don't support it. We can add support with a polyfill.
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
    -->
    <p class="date">
      <strong>Date: </strong><span>{{ model.builtIn.date | date: 'dd.MM.yyyy' }}</span>
    </p>

    <!--
      A pipe may accept any number of optional parameters to fine-tune its output.
      We add parameters to a pipe by following the pipe name with a colon ( : ) and then the parameter value (e.g., currency:'EUR').
      If our pipe accepts multiple parameters, we separate the values with colons (e.g. slice:1:5)
    -->
    <p class="date-toggle-format">
      <strong>Date parametrized: </strong><span>{{ model.builtIn.date | date: format }}</span>
      <button class="btn-block btn-default" (click)="toggleFormat()">Toggle Format</button>
    </p>

    <p class="currency">
      <strong>Currency: </strong><span>{{ model.builtIn.currency | currency: 'USD' }}</span>
    </p>

    <p class="uppercase">
      <strong>Uppercase: </strong><span>{{ model.builtIn.uppercase | uppercase }}</span>
    </p>

    <p class="lowercase">
      <strong>Lowercase: </strong><span>{{ model.builtIn.lowercase | lowercase }}</span>
    </p>

    <p class="percent">
      <strong>Percent: </strong><span>{{ model.builtIn.percent | percent }}</span>
    </p>

    <p class="json">
      <strong>JSON: </strong><span>{{ model.builtIn | json }}</span>
    </p>

    <!--
      The Angular AsyncPipe is an example of an impure pipe.
      The AsyncPipe accepts a Promise or Observable as input and subscribes to the input automatically, eventually returning the emitted value(s).

      It is also stateful.
      The pipe maintains a subscription to the input Observable and keeps delivering values from that Observable as they arrive.
    -->
    <p class="async">
      <strong>Async: </strong><span>{{ model.builtIn.async | async }}</span>
    </p>

    <p class="chain">
      <strong>Chain: </strong><span>{{ model.builtIn.date | date: format | uppercase }}</span>
    </p>

    <iframe class="code-higlight" src="//pastebin.com/embed_iframe/1Yrz98UA" style="border:none;width:100%;height:290px;"></iframe>

  </div>
  <!-- built-in pipes : end -->

  <!-- custom pipes : start -->
  <div class="custom jumbotron">

    <h2 class="page-header">Custom Pipes</h2>

    <div class="round">
      <p>
        <strong>Round (default): </strong><span>{{ 3.14 | round }}</span>
      </p>
      <p>
        <strong>Round (to 1): </strong><span>{{ 3.14 | round:1 }}</span>
      </p>
      <p>
        <strong>Round (to 2): </strong><span>{{ 3.14 | round:2 }}</span>
      </p>
      <p>
        <strong>Round (to 5): </strong><span>{{ 3.14 | round:5 }}</span>
      </p>
      <p>
        <strong>Round (string &rarr; number conversion): </strong><span>{{ '3.14px' | round }}</span>
      </p>
      <p>
        <strong>Round (non numeric): </strong><span>{{ 'hello' | round:5 }}</span>
      </p>
    </div>

    <iframe src="//pastebin.com/embed_iframe/3wVESR7L" style="border:none;width:100%;height:165px;"></iframe>

  </div>
  <!-- custom pipes : end -->

</div>