<div class="page services">

  <div class="page-header">
    <h1>{{text}}</h1>
  </div>

  <div class="jumbotron">

    <div class="row">

      <!-- Services specific service -->
      <div class="services_specific-service col-md-6">
        <h4>Here we have <code>ServicesSpecificService.data</code> access result</h4>
        <div class="result">
          {{ servicesSpecificService.data.join(', ') }}
        </div>
        <iframe class="code-highlight" src="//pastebin.com/embed_iframe/v2Ynt2Uf" style="border:none;width:100%"></iframe>
      </div>

      <!-- Everywhere available service -->
      <div class="services_everywhere-available-service col-md-6">
        <h4>Here we have <code>EverywhereAvailableService.data</code> access result</h4>
        <div class="result">
          {{ everywhereAvailableService.data.join(', ') }}

          <div>
            <input
              class="items-input form-control"
              type="text"
              placeholder="Set new separated item and click ENTER..."
              value=""

              #itemsInput
              (keyup.enter)="everywhereAvailableService.data.push(itemsInput.value)"
              (keyup.escape)="itemsInput.value = ''"
            />
          </div>
        </div>

        <iframe class="code-highlight" src="//pastebin.com/embed_iframe/wakdk3XN" style="border:none;width:100%"></iframe>
      </div>

    </div>

  </div>
</div>
