$prefix: lifecycle-view-child-example
$borderColor: #797979

.#{$prefix}

  position: relative
  width:    50%
  height:   250px
  margin:   2% auto
  border:   2px solid $borderColor

  .form-group
    width:  15%
    margin: 0 auto