<div class="lifecycle-view-child-example">
  <p class="text-center">{{ value }}</p>
  <ng-content select="app-lifecycle-content-child-example"></ng-content>
  <div class="child-label">ViewChild</div>
</div>