<div class="page ng2-redux">

  <div class="page-header">
    <h1>{{text}}</h1>
  </div>

  <div class="jumbotron">

    <h2>Click Counter</h2>
    <app-counter [counter]="counter$"
             (increment)="counterActions.increment()"
             (decrement)="counterActions.decrement()"
             (incrementIfOdd)="counterActions.incrementIfOdd()"
             (incrementAsync)="counterActions.incrementAsync()">
    </app-counter>

  </div>

</div>