/* You can add global styles to this file, and also import other style files */
body
    background: #d5d5d5

.page
    padding: 0 15px

    .code-highlight
        height: 400px
        margin-top: 2%

    .child-label
        position: absolute
        bottom:   1%
        right:    1%