<div class="page security">

  <div class="jumbotron row">

    <!--

        Sanitization and security contexts

      Sanitization is the inspection of an untrusted value, turning it into a value that is safe to insert into the DOM.
      In many cases, sanitization does not change a value at all.
      Sanitization depends on context: a value that is harmless in CSS is potentially dangerous in a URL.

      Angular defines four security contexts—HTML, style, URL, and resource URL:

      1) HTML is used when interpreting a value as HTML, for example, when binding to innerHtml
      2) Style is used when binding CSS into the style property
      3) URL is used for URL properties such as <a href>
      4) Resource URL is a URL that will be loaded and executed as code, for example, in <script src>

    Angular sanitizes untrusted values for the first three items;
    sanitizing resource URLs is not possible because they contain arbitrary code.
    In development mode, Angular prints a console warning when it has to change a value during sanitization.

    -->
    <div class="col-md-6">

      <h3 class="page-header">Binding innerHTML</h3>

      <h4>Bound value:</h4>
      <p class="e2e-inner-html-interpolated">{{htmlSnippet}}</p>
      <h4>Result of binding to innerHTML:</h4>
      <p class="e2e-inner-html-bound" [innerHTML]="htmlSnippet"></p>

      <iframe src="//pastebin.com/embed_iframe/cQHxsDGm" style="border:none;width:100%;height:225px;"></iframe>

    </div>

    <!--

      Trusting safe values

      Sometimes applications genuinely need to include executable code,
      display an <iframe> from some URL,
      or construct potentially dangerous URLs.

      To prevent automatic sanitization in any of these situations, you can:

       * tell Angular that you inspected a value,
       * checked how it was generated,
       * made sure it will always be secure.

      If you trust a value that might be malicious, you are introducing a security vulnerability into your application.
      If in doubt, find a professional security reviewer.

      You can mark a value as trusted by injecting DomSanitizer and calling one of the following methods:

        bypassSecurityTrustHtml
        bypassSecurityTrustScript
        bypassSecurityTrustStyle
        bypassSecurityTrustUrl
        bypassSecurityTrustResourceUrl

      Whether a value is safe depends on context, so you need to choose the right context for your intended use of the value.

      Normally, Angular automatically sanitizes the URL, disables the dangerous code, and in development mode, logs this action to the console.
      To prevent this, you can mark the value as a trusted one using the bypassSecurityTrust<Html|Script|Style|Url|ResourceUrl> method.

    -->
    <div class="col-md-6">

      <h3 class="page-header">Binding (un)trusted values</h3>

      <h4>An untrusted URL:</h4>
      <p><a class="e2e-dangerous-url" [href]="dangerousUrl">Click me</a></p>
      <h4>A trusted URL:</h4>
      <p><a class="e2e-trusted-url" [href]="trustedUrl">Click me</a></p>

      <iframe src="//pastebin.com/embed_iframe/ADBtJDWv" style="border:none;width:100%;height:270px;"></iframe>

    </div>

  </div>

</div>