<nav class="navbar navbar-inverse">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLink="/directives" routerLinkActive="active">
        <a >Directives</a>
      </li>
      <li routerLink="/template" routerLinkActive="active">
        <a >Template</a>
      </li>
      <li routerLink="/share-data" routerLinkActive="active">
        <a>Share Data</a>
      </li>
      <li routerLink="/services" routerLinkActive="active">
        <a>Services</a>
      </li>
      <li routerLink="/forms" routerLinkActive="active">
        <a>Forms</a>
      </li>
      <li routerLink="/lifecycle" routerLinkActive="active">
        <a>Lifecycle</a>
      </li>
      <li routerLink="/pipes" routerLinkActive="active">
        <a>Pipes</a>
      </li>
      <!--<li routerLink="/i18n" routerLinkActive="active">-->
        <!--<a>I18n</a>-->
      <!--</li>-->
      <li routerLink="/security" routerLinkActive="active">
        <a>Security</a>
      </li>
      <li routerLink="/http" routerLinkActive="active">
        <a>HTTP</a>
      </li>
      <li routerLink="/redux" routerLinkActive="active">
        <a>Redux</a>
      </li>
    </ul>
  </div>
</nav>