<div class="page share-data">

  <div class="page-header">
    <h1>{{text}}</h1>
  </div>

  <div class="jumbotron">
    <h4>Here we have <code>EverywhereAvailableService.data</code> access result</h4>
    <div>
      {{ everywhereAvailableService.data.join(', ') }}
    </div>
    <iframe class="code-highlight" src="//pastebin.com/embed_iframe/NkYFDnvM" style="border:none;width:100%"></iframe>
  </div>

</div>